@model Pharma.Models.Producto
@{
    ViewData["Title"] = "Create";
    Layout = "~/Views/Shared/layoutAdmin.cshtml";
}

<head>
        
        <style>
            .profile {
                text-align: center;
                margin-bottom: 25px;
            }
            .avatar {
                position: relative;
            }
            .avatar input[type=file] {
            display: none;
        }
        
        .avatar-selector {
            background-color: black;
            color: white;
            border-radius: 50%;
            padding-top: 0.525em;
            cursor: pointer;
            position: absolute;
            left: 80%;
            bottom: 0.5em;
            width: 40px;
            height: 40px;
            text-align: center;
        }
        
        .profile {
            text-align: center;
            margin-bottom: 25px;
        }
        
        .profile .img {
            border-radius: 2%;
            width: 250px;
            height: 250px;
            background-size: cover;
            background-position: center;
            background-repeat: no-repeat;
            margin: 0 auto;
        }
        </style>
    
    
       
    </head>

<div id="main-content container-fluid">
                <div class="page-heading">
                    <div class="page-title">
                        <div class="row">
                            <div class="col-12 col-md-6 order-md-1 order-last">
                                <h3>Nuevo producto</h3>
                                
                            </div>
                        </div>
                    </div>
                    
                    <div class="col-12 col-md-12">
                        <div class="card">
                            <div class="card-header">
                                <h5 class="card-title">Datos del producto</h5>
                            </div>
                            <div class="card-content">
                                <div class="card-body">
                                   <form class="form form-center" method="post" asp-action="CreateProduct" asp-controller="Orden" enctype="multipart/form-data">
                                    <br>
                                        <div class="center">
                                            <div class="profile">
                                                <div class="avatar">
                                                    <input id="file-uploader" type="file" name="Image" value="">
                                                    <div class="img"
                                                        style="background-image:url('https://www.pngitem.com/pimgs/m/286-2867618_vector-illustration-of-pharmaceutical-medicine-oral-pills-vector.png')">
                                                    </div>
                                                    <label class="avatar-selector" for="file-uploader"><i class="fa-solid fa-arrow-up-from-bracket"></i></label>
                                                </div>
                                            </div>
                                        </div>    

                                    <div class="card-body">
                                        <div class="form-body ">
                                            <div class="row ">
                                                <div class="col-md-4 ">
                                                    <label>Nombre del producto</label>
                                                </div>
                                                <div class="col-md-8 form-group">
                                                    <input type="text" id="first-name" class="form-control"
                                                        name="Nombre" placeholder="Winasorb Antigripal">
                                                </div>
                                                
                                                <div class="col-md-4">
                                                    <label>Tipo de producto</label>
                                                </div>
                                                <div class="col-md-8 form-group">
                                                    <select class="choices form-select" name="TipoProducto">
                                                        <option value="Vitrina">Vitrina</option>
                                                        <option value="Nevera">Nevera</option>
                                                        <option value="Controlado">Controlados</option>
                                                        <option value="Medicamento">Medicamento</option>
                                                    </select>
                                                </div>
                                                <div class="col-md-4">
                                                    <label>Precio Compra</label>
                                                </div>
                                                <div class="col-md-8 form-group">
                                                    <input type="number" id="contact-info" class="form-control"
                                                        name="PrecioCompra"  placeholder="15">
                                                </div>

                                                <div class="col-md-4">
                                                    <label>Precio Venta</label>
                                                </div>
                                                <div class="col-md-8 form-group">
                                                    <input type="number" id="contact-info" class="form-control"
                                                        name="PrecioVenta" placeholder="20">
                                                </div>

                                                <div class="col-md-4">
                                                    <label>Cantidad</label>
                                                </div>
                                                <div class="col-md-8 form-group">
                                                    <input type="number" id="contact-info" class="form-control"
                                                        name="Cantidad" placeholder="10">
                                                </div>

                                                <div class="col-md-4">
                                                    <label>Laboratorio</label>
                                                </div>
                                                <div class="col-md-8 form-group">
                                                    <input type="text" id="contact-info" class="form-control"
                                                        name="Laboratorio" placeholder="Bayer">
                                                </div>

                                                <div class="col-md-4">
                                                    <label>Estado</label>
                                                </div>
                                                <div class="col-md-8 form-group">
                                                    <select class="choices form-select" name="Estado">
                                                        <option value="1">Público</option>
                                                        <option value="0">Privado</option>
                                                    </select>
                                                </div>
                                                
                                                <div class="form-group mb-3">
                                                    <label for="exampleFormControlTextarea1" class="form-label">Descripción del producto</label>
                                                    <textarea class="form-control" id="exampleFormControlTextarea1"
                                                        rows="3" name="Descripcion"></textarea>
                                                </div>

                                                <div class="col-sm-12 d-flex justify-content-end">
                                                    <button type="submit"
                                                        class="btn btn-primary me-1 mb-1">Guardar cambios</button>
                                                    <button type="reset"
                                                        class="btn btn-light-secondary me-1 mb-1">Reiniciar</button>
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                </form>
                                </div>
                            </div>

                        </div>
                        
                    </div>
                </div>
                
    
    
            </div>


    <script id="rendered-js">
    (() => {
        document.querySelector("#file-uploader").addEventListener("change", e => {
            const image = e.target.files[0];
            const imageURL = URL.createObjectURL(image);
            document.querySelector(".profile .img").
            style.backgroundImage = ` url("${imageURL}")`;
        });
    })();
    </script>
