@using Microsoft.AspNetCore.Http
@using Pharma.Controllers

@{
	
}
<!DOCTYPE html>
<html lang="en">
<head>
	<meta charset="UTF-8">
	<meta http-equiv="X-UA-Compatible" content="IE=edge">
	<meta name="viewport" content="width=device-width, initial-scale=1">
	

	<!-- title -->
	<title>Farmacia del Este</title>

	<!-- icono -->
	<link rel="shortcut icon" type="image/png" href="../wwwroot/img/favicon.png">
	<!-- google font -->
	<link href="https://fonts.googleapis.com/css?family=Open+Sans:300,400,700" rel="stylesheet">
	<link href="https://fonts.googleapis.com/css?family=Poppins:400,700&display=swap" rel="stylesheet">
	<!--Material Icons-->
	<link href="https://fonts.googleapis.com/icon?family=Material+Icons"rel="stylesheet">
	<!-- fontawesome -->
	<link rel="stylesheet" href="~/css/all.min.css">
	<!-- bootstrap-->
	<link rel="stylesheet" href="~/bootstrap/css/bootstrap.min.css">
	<!-- owl carousel -->
	<link rel="stylesheet" href="~/css/owl.carousel.css">
	<!-- magnific popup -->
	<link rel="stylesheet" href="/css/magnific-popup.css">
	<!-- animate css -->
	<link rel="stylesheet" href="~/css/animate.css">
	<!-- mean menu css -->
	<link rel="stylesheet" href="~/css/meanmenu.min.css">
	<!-- main style -->
	<link rel="stylesheet" href="~/css/main.css">
	<!-- responsive -->
	<link rel="stylesheet" href="~/css/responsive.css">
	<link rel="stylesheet" href="~/lib/limonte-sweetalert2/sweetalert2.min.css">
	<script src="https://ajax.googleapis.com/ajax/libs/jquery/3.5.1/jquery.min.js"></script>
	

</head>
<body>
	<script src="~/lib/limonte-sweetalert2/sweetalert2.min.js" asp-append-version="true"></script>
	<!--PreLoader-->
    <div class="loader">
        <div class="loader-inner">
            <div class="circle"></div>
        </div>
    </div>
    <!--PreLoader Ends-->
	
	<!-- header -->
	<div class="top-header-area" id="sticker">
		<div class="container">
			<div class="row">
				<div class="col-lg-12 col-sm-12 text-center">
					<div class="main-menu-wrap">
						<!-- logo -->
						<div class="site-logo">
							<a href="#"> <!-- Link al index -->
								<img src="assets/img/" alt="">
							</a>
						</div>
						<!-- logo -->

						<!-- menu start -->
						<nav class="main-menu">
							<ul>
								<li class="current-list-item"><a asp-controller="Cliente" asp-action="Index">Home</a>
								</li>
								<li><a href="#">About</a></li>
								<li><a href="#">Contact</a></li>
								<li><a asp-controller="Cliente" asp-action="Shop">Shop</a>
								</li>
								<li>
									<div class="header-icons">
										<!--BOTON LOGIN Y BOTON PERFIL-->
                                        @if(Context.Request.Cookies["userId"] != null)
                                        {
												<li><a class="user-circle"><i class="fas fa-user-circle"></i></a>
													<ul class="sub-menu">
														<li><a asp-controller="Cliente" asp-action="EditProfile" asp-route-id=@int.Parse(Context.Request.Cookies["userId"])>Perfíl</a></li>
														<li><a  asp-action="Historial" asp-controller="Cliente" asp-route-id=@int.Parse(Context.Request.Cookies["userId"])>Historial de pedidos</a></li>
														<li><a asp-controller="Cliente" asp-action="LogOut" asp-route-id=@int.Parse(Context.Request.Cookies["userId"])>Cerrar sesión</a></li>
													</ul>
												</li>
										}else{
											
											<a asp-controller = "Cliente" asp-action = "Login">Iniciar sesión</a><a> | </a><a asp-controller = "Cliente" asp-action = "Login">Crear cuenta</a>
										}
										<a class="shopping-cart" asp-controller="Pedido" asp-action="Cart"><i class="fas fa-shopping-cart"></i></a>
										<a class="mobile-hide search-bar-icon" href="#"><i class="fas fa-search"></i></a>
									</div>
								</li>
							</ul>
						</nav>
						<a class="mobile-show search-bar-icon" href="#"><i class="fas fa-search"></i></a>
						<div class="mobile-menu"></div>
						<!-- menu end -->
					</div>
				</div>
			</div>
		</div>
	</div>
	<!-- end header -->
	
	<!-- search area -->
	<div class="search-area">
		<div class="container">
			<div class="row">
				<div class="col-lg-12">
					<span class="close-btn"><i class="fas fa-window-close"></i></span>
					<div class="search-bar">
						<div class="search-bar-tablecell">
							<h3>Search For:</h3>
							<input type="text" placeholder="Keywords">
							<button type="submit">Search <i class="fas fa-search"></i></button>
						</div>
					</div>
				</div>
			</div>
		</div>
	</div>
	<!-- end search area -->

	@RenderBody()

	<!-- footer -->
	<div class="footer-area">
		<div class="container">
			<div class="row justify-content-md-center">
				<div class="col-lg-3 col-md-">
					<div class="footer-box about-widget">
						<h2 class="widget-title">Acerca de Nosotros</h2>
						<p>Como farmacia nos enfocamos en brindarle el mejor de los servicios a todos nuestros cliente.</p>
					</div>
				</div>
				<div class="col-lg-3 col-md-6">
					<div class="footer-box get-in-touch">
						<h2 class="widget-title">Contáctanos</h2>
						<ul>
							<li>Calle México #25, esq. E. Leon Jiménez, Reparto del Este</li>
							<li>809-583-5126</li>
							<li>809-582-3474</li>
						</ul>
					</div>
				</div>
				<div class="col-lg-3 col-md-6">
					<div class="footer-box pages">
						<h2 class="widget-title">Pages</h2>
						<ul>
							<li><a href="#">Home</a></li>
							<li><a href="#">About</a></li>
							<li><a href="#">Contact</a></li>
							<li><a href="#">Shop</a></li>
						</ul>
					</div>
				</div>
				<!--<div class="col-lg-3 col-md-6">
					<div class="footer-box subscribe">
						<h2 class="widget-title">Subscribe</h2>
						<p>Subscribe to our mailing list to get the latest updates.</p>
						<form action="index.html">
							<input type="email" placeholder="Email">
							<button type="submit"><i class="fas fa-paper-plane"></i></button>
						</form>
					</div>
				</div>-->
			</div>
		</div>
	</div>
	<!-- end footer -->
	
	<!-- copyright -->
	<div class="copyright">
		<div class="container">
			<div class="row">
				<div class="col-lg-6 col-md-12">
					<p>Copyrights &copy; 2022 - <a href="#">Eliam Pimentel</a>,  All Rights Reserved.</p>
				</div>
				<div class="col-lg-6 text-right col-md-12">
					<div class="social-icons">
						<ul>
							<li><a href="#" target="_blank"><i class="fab fa-facebook-f"></i></a></li>
							<li><a href="#" target="_blank"><i class="fab fa-twitter"></i></a></li>
							<li><a href="#" target="_blank"><i class="fab fa-instagram"></i></a></li>
							<li><a href="#" target="_blank"><i class="fab fa-linkedin"></i></a></li>
							<li><a href="#" target="_blank"><i class="fab fa-dribbble"></i></a></li>
						</ul>
					</div>
				</div>
			</div>
		</div>
	</div>
	<!-- end copyright -->
	
	<!-- jquery -->
	<script src="~/js/jquery-1.11.3.min.js"></script>
	<!-- bootstrap -->
	<script src="~/bootstrap/js/bootstrap.min.js"></script>
	<!-- count down -->
	<script src="~/js/jquery.countdown.js"></script>
	<!-- isotope -->
	<script src="~/js/jquery.isotope-3.0.6.min.js"></script>
	<!-- waypoints -->
	<script src="~/js/waypoints.js"></script>
	<!-- owl carousel -->
	<script src="~/js/owl.carousel.min.js"></script>
	<!-- magnific popup -->
	<script src="~/js/jquery.magnific-popup.min.js"></script>
	<!-- mean menu -->
	<script src="~/js/jquery.meanmenu.min.js"></script>
	<!-- sticker js -->
	<script src="~/js/sticker.js"></script>
	<!-- main js -->
	<script src="~/js/main.js"></script>
	

</body>
</html>

<partial name="_NotificationPartial" />