@model IEnumerable<Pharma.Models.Producto>
@{
    ViewData["Title"] = "Products";
    Layout = "~/Views/Shared/layoutAdmin.cshtml";
}

<div id="main-content container-fluid">
                <div class="page-heading">
                    <div class="page-title">
                        <div class="row">
                            <div class="col-12 col-md-6 order-md-1 order-last">
                                <h3>Productos</h3>
                                <p class="text-subtitle text-muted">Ver, modificar, eliminar productos.</p>
                                 <a asp-controller="Producto" asp-action="Create" class="btn btn-success">Crear producto</a>
                            </div>
                            <div class="col-12 col-md-6 order-md-2 order-first">
                                <nav aria-label="breadcrumb" class="breadcrumb-header float-start float-lg-end">
                                    <ol class="breadcrumb">
                                        <li class="breadcrumb-item"><a href="index.html">Dashboard</a></li>
                                        <li class="breadcrumb-item active" aria-current="page">Products</li>
                                    </ol>
                                </nav>
                            </div>
                        </div>
                    </div>
                @if (Model.Count() > 0)
                {
                <section class="section">
                    <div class="card">
                        <div class="card-body">
                            <table class="table table-striped" id="table1">
                                <thead>
                                    <tr>
                                        <th>Nombre</th>
                                        <th>Tipo</th>
                                        <th>Precio</th>
                                        <th>Cantidad</th>
                                        <th>Acciones</th>
                                    </tr>
                                </thead>
                                <tbody>
                                    @foreach (var item in Model)
                                    {
                                        <tr>
                                                <td>@item.Nombre</td>
                                                <td>@item.TipoProducto</td>
                                                <td>@item.PrecioVenta</td>
                                                <td>@item.Cantidad</td>
                                                <td>
                                                    <a class="btn btn-success" asp-controller="Producto" asp-action="Edit" asp-route-id=@item.Id><i class="fa-solid fa-pen-to-square"></i></a>
                                                    <a class="btn btn-danger" ><i class="fa-solid fa-trash-can"></i></a>
                                                </td>
                                        </tr>
                                    }
                                </tbody>
                            </table>
                        </div>
                    </div>

                </section>
        
           }else{
                <p>No existen registros de productos.</p>
            }
            </div>
</div>
        
    
        <script src="~/css/css-emp/vendors/simple-datatables/simple-datatables.js"></script>
        <script>
            // Simple Datatable
            let table1 = document.querySelector('#table1');
            let dataTable = new simpleDatatables.DataTable(table1);
        </script>

