
@{
    ViewData["Title"] = "About";
    Layout = "~/Views/Shared/layout.cshtml";
}

<div class="hero-area" style = "background-image: url(/img/contact.jpg) ; background-size:cover; background-repeat:no-repeat;">
		<div class="container">
			<div class="row">
				<div class="col-lg-9 offset-lg-2 text-center">
					<div class="hero-text">
						<div class="hero-text-tablecell">
							<h1>Acerca de nosotros</h1>
						</div>
					</div>
				</div>
			</div>
		</div>
	</div>
<!-- contact form -->
	<div class="contact-from-section mt-150 mb-150">
		<div class="container">
			<div class="row">
				<div class="col-lg-4">
						<div class="contact-form-box">
							<h4><i class="fas fa-map"></i> Dirección de la tienda</h4>
							<p>Calle México #25, esq. E. Leon Jiménez, Reparto del Este.</p>
						</div>
				</div>
				<div class="col-lg-4">
						<div class="contact-form-box">
							<h4><i class="far fa-clock"></i> Horario</h4>
							<p>Lunes a Viernes: 8:00 AM a 10:00 PM <br> Sábados y Domingos: 8:00 AM a 6:00 PM </p>
						</div>
				</div>
				<div class="col-lg-4">
						<div class="contact-form-box">
							<h4><i class="fas fa-address-book"></i> Contáctanos</h4>
							<p>Teléfonos: 809-583-5126 <br>          809-582-3474</p>
						</div>
				</div>
			</div>
		</div>
	</div>
	<!-- end contact form -->
<!-- find our location -->
	<div class="find-location blue-bg">
		<div class="container">
			<div class="row">
				<div class="col-lg-12 text-center">
					<p> <i class="fas fa-map-marker-alt"></i> Encuéntranos...</p>
				</div>
			</div>
		</div>
	</div>
	<!-- end find our location -->

	<!-- google map section -->
	<div class="embed-responsive embed-responsive-21by9">
		<iframe width="600" height="500" id="gmap_canvas" src="https://maps.google.com/maps?q=Farmacia%20del%20este&t=&z=15&ie=UTF8&iwloc=&output=embed" frameborder="0" scrolling="no" marginheight="0" marginwidth="0"></iframe><a href="https://fmovies-online.net"></a><br><style>.mapouter{position:relative;text-align:right;height:500px;width:600px;}</style><a href="https://www.embedgooglemap.net">adding google map to website</a><style>.gmap_canvas {overflow:hidden;background:none!important;height:500px;width:600px;}</style></div></div>
	</div>
	<!-- end google map section -->

